<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SO PWA</title>
    <link rel="icon" href="/icon.png">
    <link rel="manifest" href="/manifest.json">
    <!-- Content Indexing API: https://web.dev/content-indexing-api/ -->
    <meta http-equiv="origin-trial" content="ApdrHywPxQLG8WLUfKpMzOaSONzK7/dIhhTiwE3+M2HTRt04EyHsFgVTkGKOyUtistERsXGIpT7rMw9o7e+1owUAAABceyJvcmlnaW4iOiJodHRwczovL3NvLXB3YS5maXJlYmFzZWFwcC5jb206NDQzIiwiZmVhdHVyZSI6IkNvbnRlbnRJbmRleCIsImV4cGlyeSI6MTU4MDQxODcwNX0=">
    <meta name="theme-color" content="#0093c4">
    <meta name="Description" content="A progressive web app for reading Stack Overflow questions and answers.">
    <style>/*styles*/</style>
  </head>
  <body>
