* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

header {
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

header > a {
  text-decoration: none;
}

header, footer {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 16px 0 16px;
}

main {
  margin: 82px 32px 32px 32px;
}

main:empty {
  text-align: center;
}

main:empty:after {
  content: 'Loading... please wait.';
}

main > div {
  margin-bottom: 16px;
}

h1 {
  margin: 0;
}

a {
  color: black;
}

hr {
  margin: 32px 0 32px 0;
}

pre {
  overflow: auto;
  max-height: 600px;
  padding: 16px;
}

code {
  font-family: "Source Code Pro", "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", monospace;
}

img {
  max-width: 100%;
}

img.profile {
  height: 32px;
  vertical-align: middle;
  width: 32px;
}
